@model Projekt.Models.Survey

@{
    ViewData["Title"] = "SurveyCreator";
}

<h2>Stwórz Ankietę</h2>

<form asp-controller="Survey" asp-action="CreateSurveyTitle" method="post">
    <div asp-validation-summary="All"></div>
    Podaj tytuł ankiety:<input type="text" asp-for="Title" />
    <button type="submit">Przejdź dalej</button>
</form>

@ViewBag.info
